In [1]:
#Project: University of Oregon DSCI 410L CAHOOTS Research Project
#Author: David Mitrovcan Morgan
#Contributor: ChatGPT

In [2]:
import pandas as pd
import numpy as np

cahoots_2023 = pd.read_excel('call_data_from_CAHOOTS.xlsx')
cahoots_2021_2022 = pd.read_excel('call_data_from_CAHOOTS_2021_2022.xlsx')

cahoots = pd.concat([cahoots_2023, cahoots_2021_2022])
cahoots.drop(['Age', 'Gender', 'Race', 'Language','City','Reason for Dispatch'], axis=1, inplace=True)
cahoots_cleaned = cahoots.dropna(subset=['Date', 'TimeOfCall'])
cahoots_cleaned.tail(20)

            Date TimeOfCall
46880 2022-12-31   20:45:01
46881 2022-12-31   21:09:05
46882 2022-12-31   21:26:08
46883 2022-12-31   21:37:01
46884 2022-12-31   22:33:24
46885 2022-12-31   19:30:42
46886 2022-12-31   18:47:24
46887 2022-12-31   17:35:16
46888 2022-12-31   18:10:07
46889 2022-12-31   18:01:08
46890 2022-12-31   21:07:55
46891 2022-12-31   21:41:56
46892 2022-12-31   21:48:28
46893 2022-12-10   08:20:35
46894 2022-12-10   09:08:09
46895 2022-12-10   12:37:34
46896 2022-12-10   13:04:57
46897 2022-12-10   13:55:49
46898 2022-12-10   15:06:45
46899 2022-06-13   05:13:00

In [3]:
print(cahoots_cleaned.dtypes)
cahoots_cleaned.loc[:, "TimeOfCall"] = cahoots_cleaned["TimeOfCall"].astype(str)
cahoots_cleaned['Datetime'] = cahoots_cleaned['Date'].dt.strftime('%Y-%m-%d') + ' ' + cahoots_cleaned['TimeOfCall']
cahoots_cleaned.head()

Date          datetime64[ns]
TimeOfCall            object
dtype: object

/var/folders/mh/myp6j6d523x6nqr_zzg5ctdw0000gn/T/ipykernel_21211/3879527559.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cahoots_cleaned['Datetime'] = cahoots_cleaned['Date'].dt.strftime('%Y-%m-%d') + ' ' + cahoots_cleaned['TimeOfCall']

        Date TimeOfCall             Datetime
0 2023-01-01   00:05:33  2023-01-01 00:05:33
1 2023-01-01   00:05:00  2023-01-01 00:05:00
2 2023-01-01   01:09:51  2023-01-01 01:09:51
3 2023-01-01   01:33:15  2023-01-01 01:33:15
4 2023-01-01   01:45:30  2023-01-01 01:45:30

In [4]:
cahoots_cleaned.drop(['Date', 'TimeOfCall'], axis=1, inplace=True)
cahoots_cleaned.head()

/var/folders/mh/myp6j6d523x6nqr_zzg5ctdw0000gn/T/ipykernel_21211/3663666462.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cahoots_cleaned.drop(['Date', 'TimeOfCall'], axis=1, inplace=True)

              Datetime
0  2023-01-01 00:05:33
1  2023-01-01 00:05:00
2  2023-01-01 01:09:51
3  2023-01-01 01:33:15
4  2023-01-01 01:45:30

In [5]:
cahoots_cleaned['Datetime'] = pd.to_datetime(cahoots_cleaned['Datetime'], errors='coerce')
cahoots_cleaned = cahoots_cleaned.dropna(subset=['Datetime'])
cahoots_cleaned['Time'] = cahoots_cleaned['Datetime'].dt.floor('H')
df = cahoots_cleaned.groupby('Time').size().reset_index(name='Call Count')
df = df.sort_values(by="Time")
df = df.iloc[1:]
df.head()

/var/folders/mh/myp6j6d523x6nqr_zzg5ctdw0000gn/T/ipykernel_21211/1395989076.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cahoots_cleaned['Datetime'] = pd.to_datetime(cahoots_cleaned['Datetime'], errors='coerce')

                 Time  Call Count
1 2021-01-14 14:00:00           6
2 2021-01-14 16:00:00           1
3 2021-01-14 17:00:00           3
4 2021-01-14 18:00:00           3
5 2021-01-14 19:00:00           2

In [6]:
df.set_index('Time', inplace=True)
df = df.resample('H').asfreq().fillna(0).reset_index()
df['Call Count'] = df['Call Count'].astype(int)
df.head(20)

                  Time  Call Count
0  2021-01-14 14:00:00           6
1  2021-01-14 15:00:00           0
2  2021-01-14 16:00:00           1
3  2021-01-14 17:00:00           3
4  2021-01-14 18:00:00           3
5  2021-01-14 19:00:00           2
6  2021-01-14 20:00:00           4
7  2021-01-14 21:00:00           4
8  2021-01-14 22:00:00           4
9  2021-01-14 23:00:00           2
10 2021-01-15 00:00:00           3
11 2021-01-15 01:00:00           2
12 2021-01-15 02:00:00           3
13 2021-01-15 03:00:00           0
14 2021-01-15 04:00:00           1
15 2021-01-15 05:00:00           1
16 2021-01-15 06:00:00           0
17 2021-01-15 07:00:00           0
18 2021-01-15 08:00:00           0
19 2021-01-15 09:00:00           1

In [7]:
header_file_path = 'headers.txt'  
data_file_path = 'CRNH0203-2023-OR_Corvallis_10_SSW.txt'

with open(header_file_path, 'r') as file:
    header_line = file.readlines()[1]
    headers = header_line.strip().split()

Weather2023 = pd.read_csv(data_file_path, delim_whitespace=True, names=headers)
Weather2023.head()

,WBANNO,UTC_DATE,UTC_TIME,LST_DATE,LST_TIME,CRX_VN,LONGITUDE,LATITUDE,T_CALC,T_HR_AVG,...,SOIL_MOISTURE_5,SOIL_MOISTURE_10,SOIL_MOISTURE_20,SOIL_MOISTURE_50,SOIL_MOISTURE_100,SOIL_TEMP_5,SOIL_TEMP_10,SOIL_TEMP_20,SOIL_TEMP_50,SOIL_TEMP_100
0,4236,20230101,100,20221231,1700,2.622,-123.33,44.42,5.7,6.5,...,0.404,0.304,0.547,0.564,0.594,8.1,7.7,7.7,7.9,8.7
1,4236,20230101,200,20221231,1800,2.622,-123.33,44.42,4.5,5.0,...,0.399,0.300,0.553,0.572,0.585,7.8,7.7,7.7,7.9,8.8
2,4236,20230101,300,20221231,1900,2.622,-123.33,44.42,4.3,4.3,...,0.390,0.299,0.546,0.571,0.569,7.4,7.5,7.7,7.9,8.8
3,4236,20230101,400,20221231,2000,2.622,-123.33,44.42,4.4,4.1,...,0.396,0.295,0.549,0.547,0.590,7.3,7.5,7.7,7.9,8.7
4,4236,20230101,500,20221231,2100,2.622,-123.33,44.42,4.7,4.4,...,0.393,0.296,0.546,0.566,0.582,7.1,7.3,7.7,7.9,8.7

In [8]:
data_file_path = 'Weather3.txt'

Weather2022 = pd.read_csv(data_file_path, delim_whitespace=True, names=headers)
Weather2022.head()

,WBANNO,UTC_DATE,UTC_TIME,LST_DATE,LST_TIME,CRX_VN,LONGITUDE,LATITUDE,T_CALC,T_HR_AVG,...,SOIL_MOISTURE_5,SOIL_MOISTURE_10,SOIL_MOISTURE_20,SOIL_MOISTURE_50,SOIL_MOISTURE_100,SOIL_TEMP_5,SOIL_TEMP_10,SOIL_TEMP_20,SOIL_TEMP_50,SOIL_TEMP_100
0,4236,20220101,100,20211231,1700,2.622,-123.33,44.42,2.7,2.8,...,0.397,0.285,0.543,0.556,0.587,5.4,5.3,5.6,6.9,9.7
1,4236,20220101,200,20211231,1800,2.622,-123.33,44.42,2.2,2.4,...,0.396,0.283,0.544,0.548,0.592,5.2,5.3,5.7,6.9,9.6
2,4236,20220101,300,20211231,1900,2.622,-123.33,44.42,0.7,1.4,...,0.398,0.282,0.541,0.559,0.573,5.0,5.3,5.8,6.9,9.6
3,4236,20220101,400,20211231,2000,2.622,-123.33,44.42,0.2,0.4,...,0.389,0.280,0.538,0.560,0.573,4.6,5.2,5.8,6.9,9.6
4,4236,20220101,500,20211231,2100,2.622,-123.33,44.42,-1.0,-0.2,...,0.388,0.278,0.531,0.575,0.563,4.4,5.1,5.8,7.0,9.6

In [9]:
data_file_path = 'Weather2021.txt'      

Weather2021 = pd.read_csv(data_file_path, delim_whitespace=True, names=headers)
Weather2021.head()

,WBANNO,UTC_DATE,UTC_TIME,LST_DATE,LST_TIME,CRX_VN,LONGITUDE,LATITUDE,T_CALC,T_HR_AVG,...,SOIL_MOISTURE_5,SOIL_MOISTURE_10,SOIL_MOISTURE_20,SOIL_MOISTURE_50,SOIL_MOISTURE_100,SOIL_TEMP_5,SOIL_TEMP_10,SOIL_TEMP_20,SOIL_TEMP_50,SOIL_TEMP_100
0,4236,20210101,100,20201231,1700,2.622,-123.33,44.42,9.5,9.8,...,0.380,0.272,0.456,0.559,0.583,8.0,6.8,6.3,7.0,9.3
1,4236,20210101,200,20201231,1800,2.622,-123.33,44.42,9.3,9.3,...,0.372,0.271,0.445,0.543,0.588,7.8,6.9,6.4,7.1,9.3
2,4236,20210101,300,20201231,1900,2.622,-123.33,44.42,8.9,9.1,...,0.373,0.271,0.446,0.552,0.591,7.7,6.9,6.5,7.0,9.3
3,4236,20210101,400,20201231,2000,2.622,-123.33,44.42,9.0,8.8,...,0.375,0.269,0.444,0.543,0.587,7.5,6.9,6.5,7.1,9.2
4,4236,20210101,500,20201231,2100,2.622,-123.33,44.42,8.7,8.8,...,0.368,0.271,0.443,0.537,0.569,7.4,7.0,6.6,7.1,9.3

In [10]:
weather_df = pd.concat([Weather2021, Weather2022, Weather2023])
weather_df.head(24)

,WBANNO,UTC_DATE,UTC_TIME,LST_DATE,LST_TIME,CRX_VN,LONGITUDE,LATITUDE,T_CALC,T_HR_AVG,...,SOIL_MOISTURE_5,SOIL_MOISTURE_10,SOIL_MOISTURE_20,SOIL_MOISTURE_50,SOIL_MOISTURE_100,SOIL_TEMP_5,SOIL_TEMP_10,SOIL_TEMP_20,SOIL_TEMP_50,SOIL_TEMP_100
0,4236,20210101,100,20201231,1700,2.622,-123.33,44.42,9.5,9.8,...,0.380,0.272,0.456,0.559,0.583,8.0,6.8,6.3,7.0,9.3
1,4236,20210101,200,20201231,1800,2.622,-123.33,44.42,9.3,9.3,...,0.372,0.271,0.445,0.543,0.588,7.8,6.9,6.4,7.1,9.3
2,4236,20210101,300,20201231,1900,2.622,-123.33,44.42,8.9,9.1,...,0.373,0.271,0.446,0.552,0.591,7.7,6.9,6.5,7.0,9.3
3,4236,20210101,400,20201231,2000,2.622,-123.33,44.42,9.0,8.8,...,0.375,0.269,0.444,0.543,0.587,7.5,6.9,6.5,7.1,9.2
4,4236,20210101,500,20201231,2100,2.622,-123.33,44.42,8.7,8.8,...,0.368,0.271,0.443,0.537,0.569,7.4,7.0,6.6,7.1,9.3
5,4236,20210101,600,20201231,2200,2.622,-123.33,44.42,8.5,8.6,...,0.375,0.268,0.442,0.528,0.581,7.4,7.0,6.7,7.1,9.3
6,4236,20210101,700,20201231,2300,2.622,-123.33,44.42,8.4,8.4,...,0.373,0.266,0.442,0.553,0.581,7.4,6.9,6.7,7.1,9.3
7,4236,20210101,800,20210101,0,2.622,-123.33,44.42,8.3,8.4,...,0.377,0.268,0.437,0.542,0.561,7.3,6.8,6.7,7.1,9.3
8,4236,20210101,900,20210101,100,2.622,-123.33,44.42,8.5,8.4,...,0.381,0.271,0.447,0.547,0.579,7.3,6.9,6.8,7.1,9.3
9,4236,20210101,1000,20210101,200,2.622,-123.33,44.42,8.8,8.7,...,0.380,0.274,0.441,0.544,0.564,7.4,6.9,6.8,7.1,9.3
10,4236,20210101,1100,20210101,300,2.622,-123.33,44.42,8.5,8.6,...,0.384,0.274,0.434,0.533,0.587,7.3,6.9,6.9,7.2,9.2
11,4236,20210101,1200,20210101,400,2.622,-123.33,44.42,8.4,8.5,...,0.375,0.276,0.441,0.551,0.573,7.3,7.0,6.9,7.2,9.2
12,4236,20210101,1300,20210101,500,2.622,-123.33,44.42,8.5,8.6,...,0.381,0.277,0.442,0.545,0.590,7.3,6.9,6.9,7.2,9.2
13,4236,20210101,1400,20210101,600,2.622,-123.33,44.42,8.7,8.7,...,0.382,0.274,0.445,0.551,0.570,7.3,7.0,7.0,7.3,9.2
14,4236,20210101,1500,20210101,700,2.622,-123.33,44.42,8.5,8.8,...,0.375,0.276,0.439,0.547,0.568,7.3,7.0,7.0,7.3,9.3
15,4236,20210101,1600,20210101,800,2.622,-123.33,44.42,8.6,8.4,...,0.376,0.277,0.442,0.542,0.566,7.3,7.0,7.0,7.2,9.2
16,4236,20210101,1700,20210101,900,2.622,-123.33,44.42,8.7,8.6,...,0.374,0.274,0.442,0.550,0.541,7.3,7.0,7.0,7.3,9.3
17,4236,20210101,1800,20210101,1000,2.622,-123.33,44.42,9.7,9.3,...,0.381,0.272,0.438,0.547,0.577,7.5,7.0,7.0,7.3,9.1
18,4236,20210101,1900,20210101,1100,2.622,-123.33,44.42,10.2,10.1,...,0.374,0.273,0.437,0.555,0.572,7.7,7.0,7.0,7.3,9.2
19,4236,20210101,2000,20210101,1200,2.622,-123.33,44.42,10.8,10.6,...,0.377,0.271,0.440,0.529,0.565,8.0,7.2,7.1,7.4,9.2
20,4236,20210101,2100,20210101,1300,2.622,-123.33,44.42,11.2,10.9,...,0.377,0.273,0.447,0.558,0.546,8.4,7.3,7.1,7.3,9.2
21,4236,20210101,2200,20210101,1400,2.622,-123.33,44.42,10.4,10.9,...,0.373,0.273,0.438,0.546,0.559,8.5,7.4,7.1,7.4,9.2
22,4236,20210101,2300,20210101,1500,2.622,-123.33,44.42,9.9,10.1,...,0.385,0.273,0.437,0.549,0.575,8.5,7.5,7.2,7.4,9.1
23,4236,20210102,0,20210101,1600,2.622,-123.33,44.42,8.9,9.3,...,0.390,0.281,0.441,0.552,0.555,8.5,7.6,7.2,7.3,9.2

In [11]:
weather_df = weather_df.loc[:, ['LST_DATE', 'LST_TIME', 'T_HR_AVG','P_CALC']]
weather_df.rename(columns = {'LST_DATE':'Date'}, inplace = True)
weather_df.rename(columns = {'LST_TIME':'Hour'}, inplace = True)
weather_df.rename(columns = {'T_HR_AVG':'Temperature'}, inplace = True)
weather_df.rename(columns = {'P_CALC':'Perception'}, inplace = True)
weather_df.head(20)

        Date  Hour  Temperature  Perception
0   20201231  1700          9.8         0.0
1   20201231  1800          9.3         0.0
2   20201231  1900          9.1         0.0
3   20201231  2000          8.8         0.0
4   20201231  2100          8.8         0.0
5   20201231  2200          8.6         0.0
6   20201231  2300          8.4         1.2
7   20210101     0          8.4         0.4
8   20210101   100          8.4         0.0
9   20210101   200          8.7         0.0
10  20210101   300          8.6         0.0
11  20210101   400          8.5         0.0
12  20210101   500          8.6         0.0
13  20210101   600          8.7         0.0
14  20210101   700          8.8         0.0
15  20210101   800          8.4         0.0
16  20210101   900          8.6         0.0
17  20210101  1000          9.3         0.0
18  20210101  1100         10.1         0.0
19  20210101  1200         10.6         0.0

In [12]:
weather_df['Date'] = weather_df['Date'].astype(str)
weather_df['Hour'] = weather_df['Hour'].astype(str).str.zfill(4)  # Pad hours with zeros
weather_df['Time'] = pd.to_datetime(weather_df['Date'] + weather_df['Hour'], format='%Y%m%d%H%M')
weather_df = weather_df.drop(columns=['Date', 'Hour'])
weather_df.head()

   Temperature  Perception                Time
0          9.8         0.0 2020-12-31 17:00:00
1          9.3         0.0 2020-12-31 18:00:00
2          9.1         0.0 2020-12-31 19:00:00
3          8.8         0.0 2020-12-31 20:00:00
4          8.8         0.0 2020-12-31 21:00:00

In [13]:
df = pd.merge(df, weather_df, on="Time", how="inner")
df = df.sort_values(by="Time")
df.head(20)

                  Time  Call Count  Temperature  Perception
0  2021-01-14 14:00:00           6          9.4         0.0
1  2021-01-14 15:00:00           0         10.3         0.0
2  2021-01-14 16:00:00           1         10.4         0.0
3  2021-01-14 17:00:00           3          9.4         0.0
4  2021-01-14 18:00:00           3          8.0         0.0
5  2021-01-14 19:00:00           2          8.2         0.0
6  2021-01-14 20:00:00           4          6.9         0.0
7  2021-01-14 21:00:00           4          6.6         0.0
8  2021-01-14 22:00:00           4          6.0         0.0
9  2021-01-14 23:00:00           2          5.7         0.0
10 2021-01-15 00:00:00           3          6.4         0.0
11 2021-01-15 01:00:00           2          7.4         0.0
12 2021-01-15 02:00:00           3          7.8         0.0
13 2021-01-15 03:00:00           0          7.7         0.0
14 2021-01-15 04:00:00           1          7.7         0.0
15 2021-01-15 05:00:00           1          7.7         0.3
16 2021-01-15 06:00:00           0          7.6         0.2
17 2021-01-15 07:00:00           0          7.7         0.3
18 2021-01-15 08:00:00           0          7.8         0.2
19 2021-01-15 09:00:00           1          8.0         0.0

In [14]:
# Adding the 'Date' column by extracting the date from the 'Time' column
df['Date'] = df['Time'].dt.date

# Adding the 'Hour' column by extracting the hour from the 'Time' column
df['Hour'] = df['Time'].dt.hour

# Adding the 'Day' column (Monday=1, Sunday=7)
df['Day'] = df['Time'].dt.dayofweek + 1

def get_season(date):
    month = date.month
    if month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    elif month in [9, 10, 11]:
        return 'Fall'
    else:
        return 'Winter'

df['Season'] = df['Date'].apply(get_season)
df.head(20)

,Time,Call Count,Temperature,Perception,Date,Hour,Day,Season
0,2021-01-14 14:00:00,6,9.4,0.0,2021-01-14,14,4,Winter
1,2021-01-14 15:00:00,0,10.3,0.0,2021-01-14,15,4,Winter
2,2021-01-14 16:00:00,1,10.4,0.0,2021-01-14,16,4,Winter
3,2021-01-14 17:00:00,3,9.4,0.0,2021-01-14,17,4,Winter
4,2021-01-14 18:00:00,3,8.0,0.0,2021-01-14,18,4,Winter
5,2021-01-14 19:00:00,2,8.2,0.0,2021-01-14,19,4,Winter
6,2021-01-14 20:00:00,4,6.9,0.0,2021-01-14,20,4,Winter
7,2021-01-14 21:00:00,4,6.6,0.0,2021-01-14,21,4,Winter
8,2021-01-14 22:00:00,4,6.0,0.0,2021-01-14,22,4,Winter
9,2021-01-14 23:00:00,2,5.7,0.0,2021-01-14,23,4,Winter
10,2021-01-15 00:00:00,3,6.4,0.0,2021-01-15,0,5,Winter
11,2021-01-15 01:00:00,2,7.4,0.0,2021-01-15,1,5,Winter
12,2021-01-15 02:00:00,3,7.8,0.0,2021-01-15,2,5,Winter
13,2021-01-15 03:00:00,0,7.7,0.0,2021-01-15,3,5,Winter
14,2021-01-15 04:00:00,1,7.7,0.0,2021-01-15,4,5,Winter
15,2021-01-15 05:00:00,1,7.7,0.3,2021-01-15,5,5,Winter
16,2021-01-15 06:00:00,0,7.6,0.2,2021-01-15,6,5,Winter
17,2021-01-15 07:00:00,0,7.7,0.3,2021-01-15,7,5,Winter
18,2021-01-15 08:00:00,0,7.8,0.2,2021-01-15,8,5,Winter
19,2021-01-15 09:00:00,1,8.0,0.0,2021-01-15,9,5,Winter

In [15]:
aqi_df1 = pd.read_csv("hourly_88101_2021.csv", low_memory=False)
aqi_df1 = aqi_df1[aqi_df1['County Name'] == 'Lane']
aqi_df2 = pd.read_csv("hourly_88101_2022.csv", low_memory=False)
aqi_df2 = aqi_df2[aqi_df2['County Name'] == 'Lane']
aqi_df3 = pd.read_csv("hourly_88101_2023.csv", low_memory=False)
aqi_df3 = aqi_df3[aqi_df3['County Name'] == 'Lane']
aqi_df = pd.concat([aqi_df1, aqi_df2, aqi_df3])
aqi_df.head()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Date Local,...,Units of Measure,MDL,Uncertainty,Qualifier,Method Type,Method Code,Method Name,State Name,County Name,Date of Last Change
4402148,41,39,59,88101,1,44.067224,-123.141352,WGS84,PM2.5 - Local Conditions,2021-01-01,...,Micrograms/cubic meter (LC),5.0,NaN,NaN,FEM,209,Met One BAM-1022 Mass Monitor w/ VSCC or TE-PM...,Oregon,Lane,2021-06-14
4402149,41,39,59,88101,1,44.067224,-123.141352,WGS84,PM2.5 - Local Conditions,2021-01-01,...,Micrograms/cubic meter (LC),5.0,NaN,NaN,FEM,209,Met One BAM-1022 Mass Monitor w/ VSCC or TE-PM...,Oregon,Lane,2021-06-14
4402150,41,39,59,88101,1,44.067224,-123.141352,WGS84,PM2.5 - Local Conditions,2021-01-01,...,Micrograms/cubic meter (LC),5.0,NaN,NaN,FEM,209,Met One BAM-1022 Mass Monitor w/ VSCC or TE-PM...,Oregon,Lane,2021-06-14
4402151,41,39,59,88101,1,44.067224,-123.141352,WGS84,PM2.5 - Local Conditions,2021-01-01,...,Micrograms/cubic meter (LC),5.0,NaN,NaN,FEM,209,Met One BAM-1022 Mass Monitor w/ VSCC or TE-PM...,Oregon,Lane,2021-06-14
4402152,41,39,59,88101,1,44.067224,-123.141352,WGS84,PM2.5 - Local Conditions,2021-01-01,...,Micrograms/cubic meter (LC),5.0,NaN,NaN,FEM,209,Met One BAM-1022 Mass Monitor w/ VSCC or TE-PM...,Oregon,Lane,2021-06-14

In [16]:
columns_to_drop = ['State Code', 'County Code', 'Parameter Code', 'POC',
                   'Latitude', 'Longitude', 'Datum', 'Parameter Name',
                   'Date GMT', 'Time GMT', 'Uncertainty', 'Qualifier', 'Method Type',
                   'Method Code', 'Method Name', 'State Name', 'County Name',
                   'Date of Last Change', 'MDL', "Units of Measure"]
aqi_df.drop(columns=columns_to_drop, inplace=True)

In [17]:
unique_site_nums = aqi_df['Site Num'].unique()
print(unique_site_nums)

[  59 2013 9004   60  101]

In [18]:
site_nums_to_keep = [59, 60]
aqi_df = aqi_df[aqi_df['Site Num'].isin(site_nums_to_keep)]

In [19]:
aqi_df['Datetime'] = pd.to_datetime(aqi_df['Date Local'] + ' ' + aqi_df['Time Local'], format='%Y-%m-%d %H:%M')
aqi_df.drop(columns=['Date Local', 'Time Local'], inplace=True)
aqi_df.head()

         Site Num  Sample Measurement            Datetime
4402148        59                 4.7 2021-01-01 00:00:00
4402149        59                 3.9 2021-01-01 01:00:00
4402150        59                 2.4 2021-01-01 02:00:00
4402151        59                -1.6 2021-01-01 03:00:00
4402152        59                 6.9 2021-01-01 04:00:00

In [20]:
aqi_df = aqi_df.groupby(['Datetime'], as_index=False)['Sample Measurement'].mean()
aqi_df.head()

             Datetime  Sample Measurement
0 2021-01-01 00:00:00                 4.7
1 2021-01-01 01:00:00                 3.9
2 2021-01-01 02:00:00                 2.4
3 2021-01-01 03:00:00                -1.6
4 2021-01-01 04:00:00                 6.9

In [21]:
aqi_df = aqi_df.rename(columns={'Sample Measurement': 'AQI PM2.5', 'Datetime': 'Time'})
df = pd.merge(df, aqi_df, on="Time", how="inner")
df.head()

,Time,Call Count,Temperature,Perception,Date,Hour,Day,Season,AQI PM2.5
0,2021-01-14 14:00:00,6,9.4,0.0,2021-01-14,14,4,Winter,11.9
1,2021-01-14 15:00:00,0,10.3,0.0,2021-01-14,15,4,Winter,7.5
2,2021-01-14 16:00:00,1,10.4,0.0,2021-01-14,16,4,Winter,9.0
3,2021-01-14 17:00:00,3,9.4,0.0,2021-01-14,17,4,Winter,15.5
4,2021-01-14 18:00:00,3,8.0,0.0,2021-01-14,18,4,Winter,22.2

In [22]:
df = df[(df['Temperature'] > -100) & (df['Temperature'] < 100)]  # Adjust the range as needed
df = df[(df['Perception'] > -1)]  # Adjust the range as needed

In [23]:
df.to_csv('output.csv', index=False)